.About{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .title{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;

        h1{
            font-size: 5rem;
        }

        .background{
            top: 0;
            position: absolute;
            color: rgba(255, 255, 255, 0.2);
            font-size: 6rem;
            font-family: 'Archivo Black', sans-serif;
        }
    }

    .description{
        width: 70%;
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 50px;
    }

    @media screen and (max-width: 700px){
        .title{
            padding-top: 30px;

            h1{
                font-size: 3rem;
            }

            .background{
                font-size: 4rem;
            }
        }


        .description{
            font-size: 0.75rem;
            width: 90%;
            gap: 20px;
        }
    }
}