$ColorPurple: #BD00FF;
$ColorBlue: #0047AB;

.projetos{
    border-radius: 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5%;
    gap: 50px;
    @media screen and (max-width: '500px') {
        width: 85%;
    }
    @media screen and (min-width: '501px') {
        width: 95%;
    }
    h1{
        text-align: center;
        color: #181818;
        font-size: 2rem;
    }
    .cards{
        display: flex;
        @media screen and (max-width: '500px') {
            width: 100%;
            flex-direction: column;
            gap: 50px;
        }
        @media screen and (min-width: '501px') {
            width: 100%;
            gap: 5%;
        }
        div{
            width: 100%;
            overflow: hidden;
            border-radius: 15px;
            background-color: #181818;
            position: relative;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: '500px') {
                width: 100%;
                padding: 20px 5%;
                gap: 20px;
            }
            @media screen and (min-width: '501px') {
                padding: 20px 2%;
                gap: 20px;
            }
            img{
                border-radius: 15px;
                width: 100%;
            }
            .name{
                color: white;
                font-size: 1.2rem;
                text-align: center;
            }
            a{
                text-decoration: none;
                .link{
                    font-size: 0.8rem;
                    text-align: center;
                    color: $ColorBlue;
                }
            }
        }
    }
}

