@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.Projects{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Wix Madefor Display', sans-serif;
    gap: 30px;

    .title{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;

        h1{
            font-size: 5rem;
        }

        .background{
            top: 0;
            position: absolute;
            color: rgba(255, 255, 255, 0.2);
            font-size: 6rem;
            font-family: 'Archivo Black', sans-serif;
        }
    }

    .Cards{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 100px;
    }

    @media screen and (max-width: 700px){
        .title{
            padding-top: 30px;

            h1{
                font-size: 3rem;
            }

            .background{
                font-size: 3.5rem;
            }
        }


        .Cards{
            width: 90%;
            margin-bottom: 50px;
        }
    }
}