footer{
    height: 70px;
    background-color: white;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .container-logo{
        width: 150px;
        height: 70px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .container-icons{
        display: flex;
        gap: 30px;
    }
}