footer{
    width: 100%;
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    .links{
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        a{
            text-decoration: none;
            cursor: pointer;
            color: white;
            font-size: 0.8rem;
        }
    }

    .arrow{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 100%;
        padding: 5px;
    }
}